<section class="furniture_section">
    <div *ngIf="isAuthenticated" class="btn-container">
        <a type="button" class="btn btn-primary" routerLink="create">Create offer</a>
    </div>
    <div class="heading_container">
        <h2>
            Our offers
        </h2>
        <p>
            Check the currently available offers!
        </p>
    </div>
    <div class="container">
        <div *ngIf="isLoading" class="loading-wrapper">
            <app-loading-spinner />
        </div>
        <div *ngIf="!isLoading">
            <div *ngIf="isEmpty" class="no-items">Unfortunately, there are no items listed so far.<br>We'll do our best
                to offer some soon!</div>
            <div *ngIf="!isEmpty">
                <div class="row">
                    <div *ngFor="let device of devices" class="col-md-6 col-lg-4">
                        <div class="box">
                            <div class="img-box">
                                <img src={{device.img}} alt="">
                            </div>
                            <div class="detail-box">
                                <a [routerLink]="[device.deviceId] ">
                                    <h5>{{device.name}}</h5>
                                </a>
                                <div class="price_box">
                                    <h6 class="price_heading">
                                        <span>$</span> {{device.price}}
                                    </h6>
                                    <a [routerLink]="[device.deviceId]">
                                        View more
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>