.form-wrapper {
    background-color: #F9FAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
    flex-grow: 1;
    height: 600px;
    height: 85vh;
}

.form-wrapper img {
    height: 250px;
    width: 250px;
    border-radius: 10px;
    filter: drop-shadow(0 0 0.75rem gray);
}

.form-wrapper form {
    flex: 0 1 300px;
}

.error {
    margin: 10px auto;
    color: red
}