.error-wrapper {
    background-color: #F9FAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    height: 600px;
}

.error-wrapper img {
    height: 300px;
    margin: 100px 0 100px 0
}

.error-text {
    font-size: 20px;
    font-weight: bold;
    width: 300px;
    text-align: center;
}