<section class="about_section layout_padding long_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="img-box">
                    <img src="../../assets/images/about-us-button-about-us-text-template-for-website-about-us-icon.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            About Us
                        </h2>
                    </div>
                    <p>
                        Founded in 2016, TechKings has been a trusted destination for tech enthusiasts seeking the
                        latest and greatest in cutting-edge devices. With a passion for technology and a commitment to
                        customer satisfaction, we've established ourselves as a premier retailer in the ever-evolving
                        world of tech gadgets.
                        At TechKings, we understand that technology is more than just a tool; it's a gateway to endless
                        possibilities. That's why we curate a diverse selection of top-quality devices, ranging from
                        smartphones and tablets to laptops, smartwatches, and everything in between. Whether you're a
                        seasoned tech aficionado or a casual consumer, you'll find something to suit your needs and
                        budget in our extensive inventory.
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>