<section class="slider_section">
    <div id="customCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="detail-box">
                                <h1>
                                    Dreaming of Tech store for all your needs?<br>
                                    Techkings is here!
                                </h1>
                                <p>
                                    Have you ever dreamed of a place where you can find the best prices for all kind of
                                    techs?
                                    Now you have it! What are you waiting for, sign in and take a look!
                                </p>
                                <div class="btn-box">
                                    <a routerLink="/login" class="btn1">
                                        Login
                                    </a>
                                    <a routerLink="/register" class="btn2">
                                        Register
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>