<div class="mat-container">
    <mat-card class="container">
        <mat-card-header class="mat-card-header">
            <img mat-card-avatar src="https://i.stack.imgur.com/34AD2.jpg">
            <mat-card-content class="profile-info">
                <span>Email: {{email}}</span>
                <span>Created on: {{createdAt}}</span>
            </mat-card-content>
        </mat-card-header>
    </mat-card>
</div>

<section class="furniture_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                Your bought items:
            </h2>
        </div>

        <div>
            <div *ngIf="isEmpty" class="no-items">You have not bought any items so far!</div>
            <div>
                <ng-container *ngIf="!isEmpty">
                    <div class="row">
                        <div *ngFor="let device of boughtDevices" class="col-md-6 col-lg-4">
                            <div class="box">
                                <div class="img-box">
                                    <img src={{device.img}} alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>{{device.name}}</h5>
                                    <div class="price_box">
                                        <h6 class="price_heading">
                                            <span>$</span> {{device.price}}
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</section>