<div class="card-container">
    <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
    <ng-container *ngIf="!isLoading">
        <mat-card class="example-card">
            <img mat-card-image src="{{device.img}}" alt="Photo of a Shiba Inu">
            <div class="card-details">
                <span>{{device.name}}</span>
                <div class="card-specifications">
                    <p><span>Specifications:</span> {{device.details}}</p>
                </div>
            </div>
        </mat-card>
    </ng-container>
</div>