<div class="form-wrapper">
    <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="title">Name</label>
            <input type="text" class="form-control" id="title" aria-describedby="emailHelp" placeholder="Enter title" formControlName="name">
        </div>
        <div class="form-group">
            <label for="details">Details</label>
            <input type="text" class="form-control" id="details" placeholder="Details" formControlName="details">
        </div>
        <div class="form-group">
            <label for="img">Image</label>
            <input type="text" class="form-control" id="Image" placeholder="Image url" formControlName="img">
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input type="text" class="form-control" id="price" placeholder="Price" formControlName="price">
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
        <button type="submit" class="btn btn-light">Reset</button>
    </form>
</div>