.about_section {
    background-color: #f9fafa;
    display: flex;
    flex-wrap:wrap;
  }
  
  .about_section .row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .about_section .img-box img {
    max-width: 100%;
    max-height: 400px;
  }
  
  .about_section .detail-box p {
    margin-top: 10px;
    margin-bottom: 35px;
  }
  
  .about_section .detail-box a {
    display: inline-block;
    padding: 10px 45px;
    background-color: #6bb7be;
    color: #ffffff;
    border-radius: 0;
    border: 1px solid #6bb7be;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  
  .about_section .detail-box a:hover {
    background-color: transparent;
    color: #6bb7be;
  }