<div class="hero_area">
    <!-- header section strats -->
    <header class="header_section long_section px-0">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" routerLink="/">
                <span>
                    TechKings
                </span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
                    <ul class="navbar-nav  ">
                        <li class="nav-item active">
                            <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="furniture.html">Store</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/about"> About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <div class="quote_btn-container">
                    <a routerLink="/login">
                        <span>
                            Login
                        </span>
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </a>
                    <a routerLink="/register">
                        <span>
                            Register
                        </span>
                        <i class="fa-regular fa-user" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <!-- end header section -->
    <!-- slider section -->
</div>