.furniture_section .box {
    margin-top: 45px;
    background-color: #f7fafa;
    padding: 25px;
    border-radius: 5px;
  }
  
  .furniture_section .box .img-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 275px;
    padding: 25px;
  }
  
  .furniture_section .box .img-box img {
    width: 100%;
    height: 100%;
  }
  
  .furniture_section .box .detail-box {
    margin-top: 15px;
  }
  
  .furniture_section .box .detail-box h5 {
    text-transform: uppercase;
    font-size: 18px;
  }
  
  .furniture_section .box .detail-box .price_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .furniture_section .box .detail-box .price_box .price_heading {
    margin-bottom: 0;
  }
  
  .furniture_section .box .detail-box .price_box .price_heading span {
    color: #6bb7be;
  }
  
  .furniture_section .box .detail-box .price_box a {
    color: #6bb7be;
    text-transform: uppercase;
    font-size: 15px;
  }

  .loading-wrapper {
    margin-top: 400px;
    margin-bottom: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}