<section class="about_section layout_padding long_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="img-box">
                    <img src="../../../assets/images/about-img.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            About Us
                        </h2>
                    </div>
                    <p>
                        You want to know more about us? Click on Read more below!
                    </p>
                    <a routerLink="/about">
                        Read More
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>