.form-wrapper {
    background-color: #F9FAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
    flex-grow: 1;
    height: 600px;
}

.form-wrapper img {
    height: 250px;
    width: 250px;
    border-radius: 10px;
    filter: drop-shadow(0 0 0.75rem gray);

}

.form-wrapper form {
    flex: 0 1 300px;
}

.error {
    margin: 10px auto;
    color: red
}

/* @media (max-width: 630px) {
    .form-wrapper img {
        max-height: 200px;
        flex: 0 1 200px;
    }
    .form-wrapper form {
        flex: 0 1 200px;
    }
} */
